<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find myrobot_description)/urdf/myrobot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model myrobot"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find myrobot_description)/worlds/ball_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="walker" pkg="myrobot_description" type="random_walker.py" output="screen"/>
  <node name="ball_detector" pkg="myrobot_description" type="ball_detector.py" output="screen"/>
  <node name="controller" pkg="myrobot_description" type="main_controller.py" output="screen"/>
</launch>